@import '../../material-color.styl'

.md-autocomplete-suggestions li
  border-bottom: 1px solid #ccc
  height: auto
  padding-top: 8px
  padding-bottom: 8px
  white-space: normal

.md-autocomplete-suggestions .list-title
  display: block
  line-height: 1.5
  font-size: 1.2em

.md-autocomplete-suggestions .list-item
  display: block
  line-height: 1.5

.md-drop-down
  background-color: clr-blue-100
