@import '../../material-color.styl'

md-content
  background-color: clr-grey-200

md-card-content
  background-color: clr-blue-100

  &.longest
    background-color: clr-purple-200

  &.deepest
    background-color: clr-teal-300
