@import '../../material-color.styl'

.flex
    border: 1px dotted gray
    padding: 8px

.layout-row
    background-color: clr-blue-200

.layout-column
    background-color: clr-orange-100
    text-align: center
