extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 Grid list
  md-content
    md-grid-list(md-row-height='3:2',md-cols=8,md-cols-md=4,md-cols-sm=2)
      md-grid-tile(
        ng-repeat='item in palette'
        ng-class="item.light ? 'light-text' : 'dark-text'"
        ng-style="{'background-color': item.color}"
      ) {{item.name}}
