doctype html
html(lang='en')
  head
    title Title & body styles
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    style.
      div.flex {
        border: 1px dotted gray;
      }
      em {
        font-style: normal;
        background-color: #E0E0E0;  /* Grey 300 */
        padding-left: 4px;
        padding-right: 4px;
      }
  body(ng-app='myApp',layout='column')
    div(layout='column',layout-fill)
      md-toolbar
        .md-toolbar-tools Title and body styles
      md-content(layout-padding)
        div(flex): span.md-headline This is <em>md-headline</em>
        div(flex): span.md-title This is <em>md-title</em>
        div(flex): span.md-subhead It is written with <em>md-subhead</em>
        div(flex): span.md-body-1 <em>md-body-1</em> looks like this text
        div(flex): span.md-body-2 <em>md-body-2</em> is a bit stronger
        div(flex): span.md-button Look, this is <em>md-button</em>!
        div(flex): span.md-caption Use <em>md-caption</em> for figures and tables
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
