doctype html
html(lang='en')
  head
    title Themes
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
  body(ng-app='myApp',layout='column')
    md-toolbar
      .md-toolbar-tools Themes (default)
    md-content
      div(layout-padding) Default colors
      div(layout='row')
        div(flex=25): md-button (none)
        div(flex=25): md-button.md-hue-1 md-hue-1
        div(flex=25): md-button.md-hue-2 md-hue-2
        div(flex=25): md-button.md-hue-3 md-hue-3
      md-divider
      div(layout-padding) Primary colors
      div(layout='row')
        div(flex=25): md-button.md-primary md-primary
        div(flex=25): md-button.md-primary.md-hue-1 md-primary md-hue-1
        div(flex=25): md-button.md-primary.md-hue-2 md-primary md-hue-2
        div(flex=25): md-button.md-primary.md-hue-3 md-primary md-hue-3
      md-divider
      div(layout-padding) Accent colors
      div(layout='row')
        div(flex=25): md-button.md-accent md-accent
        div(flex=25): md-button.md-accent.md-hue-1 md-accent md-hue-1
        div(flex=25): md-button.md-accent.md-hue-2 md-accent md-hue-2
        div(flex=25): md-button.md-accent.md-hue-3 md-accent md-hue-3
      md-divider
      div(layout-padding) Warm colors
      div(layout='row')
        div(flex=25): md-button.md-warn md-warn
        div(flex=25): md-button.md-warn.md-hue-1 md-warn md-hue-1
        div(flex=25): md-button.md-warn.md-hue-2 md-warn md-hue-2
        div(flex=25): md-button.md-warn.md-hue-3 md-warn md-hue-3
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
