doctype html
html(lang='en')
  head
    title Themes
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='icons/sprite-communication-black.css')
  body(ng-app='myApp',layout='column')
    md-toolbar
      .md-toolbar-tools Image files
    md-content(layout='row',layout-padding)
      div(flex=33)
        | Call
        div: img(src='icons/ic_call_black_36dp.png')
      div(flex=33)
        | Missed call
        div: img(src='icons/ic_call_missed_black_36dp.png')
      div(flex=33)
        | Chat
        div: img(src='icons/ic_chat_black_36dp.png')
    md-toolbar
      .md-toolbar-tools Sprites
    md-content(layout='row',layout-padding)
      div(flex=33)
        | Call
        .icon-communication-black.icon-communication-black-ic_call_black_24dp
      div(flex=33)
        | Missed call
        .icon-communication-black.icon-communication-black-ic_call_missed_black_24dp
      div(flex=33)
        | Chat
        .icon-communication-black.icon-communication-black-ic_chat_black_24dp
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular
        .module 'myApp', ['ngMaterial']
