doctype html
html(lang='en')
  head
    title Icons
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet',href='15.css')
    style.
      .material-icons.icon-call:before {
        content: '\e0b0';
      }
  body(ng-app='myApp',layout='column')
    div(layout='column',layout-fill)
      md-toolbar
        .md-toolbar-tools Icons with custom font (GlyphIcons Halflings)
      md-content
        div(layout='row',layout-padding)
          div(flex=33)
            | Pencil
            br
            md-icon.pencil
          div(flex=33)
            | Call
            br
            md-icon(md-font-set='md',md-font-icon='icon-call')
          div(flex=33)
            | Music
            br
            md-icon(md-font-set='gi',md-font-icon='music')
      md-toolbar
        .md-toolbar-tools Icon sizes
      md-content
        div(layout='row',layout-padding)
          div(flex=25)
            | 18px
            br
            md-icon(md-font-set='gi',md-font-icon='pencil size-18')
          div(flex=25)
            | 24px
            br
            md-icon(md-font-set='gi',md-font-icon='pencil size-25')
          div(flex=25)
            | 36px
            br
            md-icon(md-font-set='md',md-font-icon='icon-call size-36')
          div(flex=25)
            | 48px
            br
            md-icon(md-font-set='gi',md-font-icon='pencil size-48')
      md-toolbar
        .md-toolbar-tools Icon colors
      md-content
        div(layout='row',layout-padding)
          div(flex=25)
            | Red
            br
            md-icon(md-font-set='md',md-font-icon='icon-call size-36 red')
          div(flex=25)
            | Green
            br
            md-icon(md-font-set='gi',md-font-icon='glass size-36 green')
          div(flex=25)
            | Blue
            br
            md-icon(md-font-set='gi',md-font-icon='glass size-36 blue')
          div(flex=25)
            | Purple
            br
            md-icon(md-font-set='gi',md-font-icon='glass size-36',style='color: purple')
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular
        .module 'myApp', ['ngMaterial']
        .config ($mdIconProvider) ->
          $mdIconProvider.fontSet 'gi', 'glyphicon'
          $mdIconProvider.fontSet 'md', 'material-icons'
          $mdIconProvider.defaultFontSet 'glyphicon'
