@import '../../material-color.styl'

md-switch#nitrox
    margin-top: 36px

small
    color: clr-grey-600
    font-style: italic

.explanation
    margin-top: 4px

.explanation-text
    font-size: 0.9em
    color: clr-grey-600

.explanation-icon
    margin-right: 8px
    color: clr-blue-500
