@import '../../material-color.styl'

.card
  max-width: 400px
  margin: auto
  margin-top: 24px

#parentPanel
  overflow: hidden
  background-color: clr-grey-800

.selected
  background-color: clr-grey-300
