extends ../layout

block vars
  - var title = "Stretched tabs"

block content
  div(layout='column',layout-fill)
    md-toolbar
      .md-toolbar-tools My latest dive
    md-content(flex)
      md-tabs(md-border-bottom,md-stretch-tabs='always')
        md-tab(label="Dive data")
          md-content.md-padding
            h1.md-display-1 Dive data
            p.md-body-1.
              This tab will show the dive information
        md-tab(label="Dive site")
          md-content.md-padding
            h1.md-display-1 Dive site
            p.md-body-1.
              This tab will show the dive site description
        md-tab(label="Photos")
          md-content.md-padding
            h1.md-display-1 Photos
            p.md-body-1.
              This tab will display the photos taken during the dive
    md-toolbar.md-accent
      .md-toolbar-tools Younderwater, 2015

append scripts
  script(type='text/javascript')
    :coffee-script
      angular.module 'myApp', ['ngMaterial']
      .config ($mdThemingProvider) ->
        $mdThemingProvider.theme 'default'
        .primaryPalette 'blue'
        .accentPalette 'orange'
