extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 Simple Toast
  md-content(layout-align='start center')
    md-button.md-raised.md-primary(
      ng-click='showToast()'
      ng-disabled='toastVisible'
    ) Show
    md-button.md-raised.md-accent(
      ng-click='dismissToast()'
      ng-disabled='!toastVisible'
    ) Dismiss
    div(flex,layout-padding='')
      label {{dismissAction}}
