@import '../../material-color.styl'

.divecard
    padding: 8px 24px
    background-color: clr-orange-800

    h2
        color: white
        font-weight: 500
        font-size: 1.75em

    h1, h3
        font-weight: 200
        color: clr-grey-50

    h1
        font-size: 1.5em
        margin: 0
        margin-top: 16px

    h3
        margin: 0
        font-size: 1.25em
