extends ../layout

block vars
  - var controller = 'GridListController'
  - var style = '10.css'
  - var script = '10.js'
  - var title = "Grid list"

block content
  md-toolbar.md-toolbar-tools
    h1 Grid list
  md-content
    md-grid-list(md-row-height='100px',md-cols=4)
      md-grid-tile(
        ng-repeat='item in palette'
        ng-class="item.light ? 'light-text' : 'dark-text'"
        ng-style="{'background-color': item.color}"
      ) {{item.name}}

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial', 'gridlist']
