extends ../layout

block content
  md-content(layout='column',flex)
    div(flex)
      div(layout='row',layout-wrap)
        div(flex=25) Cell #1
        div(flex=25) Cell #2
        div(flex=25) Cell #3
        div(flex=25) Cell #4
        div(flex=25) Cell #5
        div(flex=25) Cell #6
  md-toolbar.md-toolbar-tools Footer
