extends ../layout

block content
  md-toolbar
    .md-toolbar-tools My My favorite dive sites
  md-content(flex)
    md-tabs(md-border-bottom)
      md-tab(ng-repeat='site in diveSites',label='{{site.toString()}}')
        md-content.md-padding
          h1.md-display-1 {{site.toString()}}
          p.md-body-1 This is a beatiful dive site!
  md-toolbar.md-accent
    .md-toolbar-tools Younderwater, 2015
