@import '../../material-color.styl'

.vertical-axis
  width: 72px

.horizontal-axis
  height: 72px

#corner
  background-color: clr-grey-400

#horizontalRuler
  width: 672px
  background-color: clr-grey-300

#verticalRuler
  height: 480px
  background-color: clr-grey-300

#mainPanel
  width: 672px
  height: 480px
  background-color: clr-grey-800
  color: white
  font-size: 2em

.horizontal-item
  border-right: 1px solid clr-grey
  box-sizing: border-box
  display: inline-block
  height: 72px
  padding-top: 16px
  text-align: center
  width: 56px
  cursor: pointer

.vertical-item
  border-bottom: 1px solid clr-grey
  box-sizing: border-box
  display: inline-block
  width: 72px
  padding-top: 16px
  padding-left: 12px
  text-align: left
  height: 56px
  cursor: pointer

.highlighted
  background-color: clr-blue
  color: white
  border-right: none
  border-bottom: none

