extends ../layout

block vars
  - var body_attrs = {'layout-fill':true,'ng-controller':'DiveSitesController'}
  - var script = '14.js'
  - var title = "Dynamic tabs"

block content
  md-toolbar
    .md-toolbar-tools
      | My favorite dive sites
      span(flex)
      md-button(ng-click='disableEven = false') Enable all tabs
      md-button(ng-click='disableEven = true') Disable even tabs
      md-button(ng-click='selectedIndex = 2') Select tab #3
  md-content
    md-tabs(md-border-bottom,md-selected='selectedIndex')
      md-tab(
          ng-repeat="site in diveSites"
          label="{{site.toString()}}"
          ng-disabled="disableEven && $index%2 == 0"
      )
        md-content.md-padding
          h1.md-display-1 {{site.toString()}}
          p.md-body-1 This is a beatiful dive site!
  md-toolbar.md-accent
    .md-toolbar-tools Younderwater, 2015

append scripts
  script(type='text/javascript')
    :coffee-script
      angular.module 'myApp', ['ngMaterial', 'divesites']
      .config ($mdThemingProvider) ->
        $mdThemingProvider.theme 'default'
        .primaryPalette 'blue'
        .accentPalette 'orange'
