extends ../layout

block vars
  - var script = '01.js'

block content
  md-toolbar.md-toolbar-tools
    h1 Using menus
  md-content
    md-menu
      md-button(ng-click='$mdOpenMenu($event)') Dive log actions
      md-menu-content
        md-menu-item
          md-button(ng-click='handle($event)') Edit log entry
        md-menu-item
          md-button(ng-click='handle($event)') Remove log entry
        md-divider
        md-menu-item
          md-button(ng-click='handle($event)') Attach pictures
    md-divider
    .md-body-1(flex,layout-padding) Last action: {{lastAction}}

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial', 'menu']
