extends ../layout

block vars
  - var body_attrs = {'ng-app':'myApp','layout':'column'}
  - var style = '18.css'

block content
  md-content(layout='column',flex)
    div(layout='row',flex,layout-wrap)
      div(flex=25) Cell #1
      div(flex=25) Cell #2
      div(flex=25) Cell #3
      div(flex=25) Cell #4
      div(flex=25) Cell #5
      div(flex=25) Cell #6
  md-toolbar.md-toolbar-tools Footer

append scripts
  script(type='text/javascript')
    :coffee-script
      angular.module 'myApp', ['ngMaterial']
