extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 My favorite dives
  md-content
    md-list
      md-list-item(ng-repeat='item in checklist')
        p {{item.name}}
        md-checkbox.md-secondary(nb-model='item.packed')
      md-divider
