extends ../layout

block content
  md-toolbar
    .md-toolbar-tools Custom shades
  md-content
    div(layout-padding) Primary colors
    div(layout='row')
      div(flex=25): md-button.md-primary md-primary
      div(flex=25): md-button.md-primary.md-hue-1 md-primary md-hue-1
      div(flex=25): md-button.md-primary.md-hue-2 md-primary md-hue-2
      div(flex=25): md-button.md-primary.md-hue-3 md-primary md-hue-3
