@import '../../material-color.styl'

div
    &.flex, &.flex-25
        border: 1px dotted gray
        background-color: clr-orange-100
        text-align: center
        padding: 16px

    &.layout-row, &.layout-column
        background-color: clr-blue-200
