extends ../layout

block vars
  - var body_attrs = {'ng-controller':'ChipsController'}
  - var script = '07.js'
  - var style = '07.css'
  - var title = "Chips with template"

block content
  md-toolbar.md-toolbar-tools
    h1 Chips with item templates
  md-content
    div(layout, layout-padding,layout-align='center center')
      div(flex,layout='column')
        md-chips(
          ng-model='fishList'
          placeholder="Add a fish"
          secondary-placeholder="Fish"
          md-on-append='newChip($chip)'
        )
          md-chip-template {{$chip.name}} (<em>{{$chip.size}}</em>)&nbsp;
          button.myChip(md-chip-remove): md-icon remove
        div: code {{fishList | json}}
    md-divider

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial', 'chips']
