@import '../../material-color.styl'

md-checkbox#suit .md-icon
    margin-top: -16px

.explanation
    margin-top: 4px

.explanation-text
    font-size: 0.9em
    color: clr-grey-600

.explanation-icon
    margin-right: 8px
    color: color-blue-500
