extends ../layout

block vars
  - var style = '12.css'
  - var title = "Checkboxes"

block content
  // Single column
  md-toolbar.md-toolbar-tools
    h1 Dive gear checklist
  md-content
    div(layout='column',layout-margin,ng-init='gear={}')
      md-checkbox(ng-model='gear.fins') Fins
      md-checkbox#suit(ng-model='gear.suit')
        | Neoprene suit
        .explanation
           md-icon.material-icons.explanation-icon comment
           span.explanation-text
             | Do not forget to check all pieces and your size!
      md-checkbox(ng-model='gear.bcd') BCD jacket
    md-divider
    div(layout-margin)
      code {{gear|json}}

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial']
