extends ../layout

block vars
  - var style = '02.css'
  - var title = "Heading styles"

block content
  md-toolbar
    .md-toolbar-tools Heading styles
  md-content(layout='row',layout-padding,layout-wrap)
    div(flex=50): h1.md-display-1 &lt;h1&gt; <small>md-display-1</small>
    div(flex=50): h4.md-display-1 &lt;h4&gt; <small>md-display-1</small>
    div(flex=50): h2.md-display-2 &lt;h2&gt; <small>md-display-2</small>
    div(flex=50): h3.md-display-2 &lt;h3&gt; <small>md-display-2</small>
    div(flex=50): h3.md-display-3 &lt;h3&gt; <small>md-display-3</small>
    div(flex=50): h2.md-display-3 &lt;h2&gt; <small>md-display-3</small>
    div(flex=50): h4.md-display-4 &lt;h4&gt; <small>md-display-4</small>
    div(flex=50): h1.md-display-4 &lt;h1&gt; <small>md-display-4</small>

append scripts
  script(type='text/javascript')
    :coffee-script
      angular.module 'myApp', ['ngMaterial']
