extends ../layout

block content
  md-toolbar
    .md-toolbar-tools Roboto weight and styles
  md-content(layout='column',layout-margin,layout-padding)
    h1(style={'font-weight':'300'}) Roboto Light (300)
    h1(style={'font-weight':'400'}) Roboto Regular (400)
    h1(style={'font-weight':'500'}) Roboto Medium (500)
    h1(style={'font-weight':'700'}) Roboto Bold (700)
    h1(style={'font-weight':'900'}) Roboto Black (900)
    h1(style={'font-weight':'300', 'font-style': 'italic'})
      | Roboto Light Italic (300)
    h1(style={'font-weight':'400', 'font-style': 'italic'})
      | Roboto Regular Italic (400)
    h1(style={'font-weight':'500', 'font-style': 'italic'})
      | Roboto Medium Italic (500)
    h1(style={'font-weight':'700', 'font-style': 'italic'})
      | Roboto Bold Italic (700)
    h1(style={'font-weight':'900', 'font-style': 'italic'})
      | Roboto Black Italic (900)
