extends ../layout

block vars
  - var controller = 'GridListController'
  - var script = '15.js'
  - var style = '15.css'
  - var title = "Grid list"

block content
  md-toolbar.md-toolbar-tools
    h1 Grid list
  md-content(flex)
    md-grid-list(md-row-height='3:2',md-cols=4)
      md-grid-tile(
        ng-repeat='item in palette'
        ng-class="item.light ? 'light-text' : 'dark-text'"
        ng-style="{'background-color': item.color}"
      )
        md-grid-tile-header
          h3 {{item.name}}
        md-grid-tile-footer
          h3 {{item.color}}
        md-icon.material-icons(
          ng-class="item.light ? 'light-text' : 'dark-text'"
        ) album

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial', 'gridlist']
