extends ../layout

block content
  div(layout='row')
    div(flex) Cell #1
    div(flex) Cell #2
    div(flex) Cell #3
  div(layout)
    div(flex) Cell #4
    div(flex) Cell #5
  div(layout='column')
    div(flex) Cell #6
    div(flex) Cell #7
    div(flex) Cell #8
