extends ../layout

block content
  div(layout='row',layout-margin)
    div(flex) Cell #1
    div(flex) Cell #2
    div(flex) Cell #3
  div(layout='row',layout-margin,layout-padding,style={'margin-top': '24px'})
    div(flex) Cell #4
    div(flex) Cell #5
    div(flex) Cell #6
