doctype html
html(lang='en')
  != partial('../_header')
    link(rel='stylesheet',href='15.css')
  body(ng-app='myApp',layout='column')
    div(layout='row',layout-margin)
      div(flex) Cell #1
      div(flex) Cell #2
      div(flex) Cell #3
    div(layout='row',layout-margin,layout-padding,style='margin-top: 24px;')
      div(flex) Cell #4
      div(flex) Cell #5
      div(flex) Cell #6
    != partial('../_scripts')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
