extends ../layout

block content
  div(layout='column',layout-fill)
    md-toolbar
      .md-toolbar-tools My latest dive
    md-content(flex)
      md-tabs(md-border-bottom)
        md-tab(label="Dive data", md-on-select="tabSelected('First tab')")
        md-tab(label="Dive site", md-on-select="tabSelected('Second tab')")
        md-tab(label="Photos", md-on-select="tabSelected('Third tab')")
      div(flex,layout-padding)
        p.md-display-2 {{activeTab}}
