extends ../layout

block vars
  - var style = '12.css'
  - var title = "Icons"

block content
  div(layout='column',layout-fill)
    md-toolbar
      .md-toolbar-tools Icons with fonts (ligatures)
    md-content
      div(layout='row',layout-padding)
        div(flex=33)
          | Call
          br
          md-icon &#xe0b0;
        div(flex=33)
          | Missed call
          br
          md-icon &#xe0b4;
        div(flex=33)
          | Chat
          br
          md-icon &#xe0b7;
    md-toolbar
      .md-toolbar-tools Icon sizes
    md-content
      div(layout='row',layout-padding)
        div(flex=25)
          | 18px
          br
          md-icon.material-icons.size-18 &#xe0b0;
        div(flex=25)
          | 24px
          br
          md-icon.material-icons.size-24 &#xe0b0;
        div(flex=25)
          | 36px
          br
          md-icon.material-icons.size-36 &#xe0b0;
        div(flex=25)
          | 48px
          br
          md-icon.material-icons.size-48 &#xe0b0;
    md-toolbar
      .md-toolbar-tools Icon colors
    md-content
      div(layout='row',layout-padding)
        div(flex=25)
          | Red
          br
          md-icon.material-icons.size-36.red &#xe0b7;
        div(flex=25)
          | Green
          br
          md-icon.material-icons.size-36.green &#xe0b7;
        div(flex=25)
          | Blue
          br
          md-icon.material-icons.size-36.blue &#xe0b7;
        div(flex=25)
          | Purple
          br
          md-icon.material-icons.size-36(style='color:purple') &#xe0b7;

append scripts
  script(type='text/javascript')
    :coffee-script
      angular.module 'myApp', ['ngMaterial']
