@import '../../material-color.styl'

md-icon
    &.size-18
        font-size: 18px
        height: 18px
        width: 18px

    &.size-24
        font-size: 24px
        height: 24px
        width: 24px

    &.size-36
        font-size: 36px
        height: 36px
        width: 36px

    &.size-48
        font-size: 48px
        height: 48px
        width: 48px

    &.red
        color: clr-red

    &.green
        color: clr-green

    &.blue
        color: clr-blue
