@import '../../material-color.styl'

.flex-25, .flex-33, .flex-75, .flex-initial, .flex-auto
    border: 1px dotted gray
    padding: 8px
    box-sizing: border-box

.layout-row
    background-color: clr-blue-200

.layout-column
    background-color: clr-orange-100
    text-align: center
