extends ../layout

block vars
  - var body_attrs = {'ng-app':'myApp'}
  - var style = '11.css'

block content
  div(layout='row')
    div(flex=33) 33%
    div(flex=75) 75%
  div(layout='row',style={'margin-top': '24px'})
    div(flex='initial',style={'width': '400px'}) initial
    div(flex=25) 25%
  div(layout='row',style={'margin-top': '24px'})
    div(flex='auto',style={'width': '400px'}) auto
    div(flex=25) (25%)

append scripts
  script(type='text/javascript')
    :coffee-script
      angular.module 'myApp', ['ngMaterial']
