@import '../../material-color.styl'

md-content#main
  background-color: clr-grey-300

md-card
  background-color: white

md-card-footer
  background-color: clr-blue-100

span.tag
  display: inline-block
  padding: 4px 8px
  border-radius: 4px
  background-color: clr-grey-400
  color: black
  font-variant: small-caps
  margin-right: 8px
