@import '../../material-color.styl'

.flex, .flex-20, .flex-25, .flex-33, .flex-66
    border: 1px dotted gray
    padding: 8px

.layout-row
    background-color: clr-blue-200

.layout-column
    background-color: clr-orange-100
    text-align: center
