doctype html
html(lang='en')
  head
    title Using menus
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
  body(ng-app='myApp',layout='column',ng-controller='MenuController')
    md-toolbar.md-toolbar-tools
      h1 Using menus
    md-content
      md-menu
        md-button(ng-click='$mdOpenMenu($event)') Dive log actions
        md-menu-content
          md-menu-item
            md-button(ng-click='handle($event)') Edit log entry
          md-menu-item
            md-button(ng-click='handle($event)') Remove log entry
          md-divider
          md-menu-item
            md-button(ng-click='handle($event)') Attach pictures
      md-divider
      .md-body-1(flex,layout-padding) Last action: {{lastAction}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'menu', []
        .controller 'MenuController', [
          '$scope'
          ($scope) ->
            $scope.lastAction = ''
            $scope.handle = ($event) ->
              $scope.lastAction = $event.target.innerText
        ]

        angular.module 'myApp', ['ngMaterial', 'menu']
