doctype html
html(lang='en')
  head
    title Alert dialog
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
  body(ng-app='myApp',layout='column',ng-controller='DialogController')
    md-toolbar.md-toolbar-tools
      h1 Alert dialog
    md-content#sourcePanel
      div(layout-padding,layout-margin)
        md-button.md-raised.md-accent(ng-click='showAlert($event)')
          | Show an alert
        md-divider
        div(ng-init='saver=true',layout='column',layout-margin)
          md-switch(ng-model='saver') Battery saver
          md-checkbox(style='margin-left:60px;',ng-disabled='!saver')
            | Use it only when battery is low
          md-checkbox(style='margin-left:60px;',ng-disabled='!saver')
            | Allow to terminate passive apps
      md-divider
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'dialog', []
        .controller 'DialogController', [
          '$scope'
          '$mdDialog'
          ($scope, $mdDialog) ->
            $scope.showAlert = (ev) ->
              parentPanel = angular.element(
                document.querySelector('#sourcePanel')
              )
              dialog = $mdDialog.alert()
              .parent parentPanel
              .targetEvent ev
              .clickOutsideToClose true
              .title "Your battery level is low."
              .textContent "Now, your battery has a critically low capacity, 8%."
              .ariaLabel "Battery level is low"
              .ok "OK"
              $mdDialog.show(dialog)
        ]

        angular.module 'myApp', ['ngMaterial', 'dialog']
