extends ../layout

block content
    md-toolbar(layout='row' hide-sm show-gt-sm)
      h1 {{lc.title}}
    md-toolbar(layout='row' show-sm hide-gt-sm)
      h1 {{lc.title}}
    md-content#content
      h2 {{lc.sectionTitle}}
      | {{lc.sectionBody}}
