extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 Tooltip
  md-content(flex)
    div(layout='row',style={'margin-top': '12px'})
      md-switch(aria-label="Save mode")
        | Battery save mode
        md-tooltip(md-direction='bottom',md-delay=2000)
          | Use <span class="highlight">battery save</span> mode
