doctype html
html(lang='en')
  != partial('../_header')
    link(rel='stylesheet',href='16.css')
  body(ng-app='myApp',layout='column')
    div(layout='row',layout-margin,layout-padding,layout-fill)
      div(flex) Cell #1
      div(flex) Cell #2
      div(flex) Cell #3
    != partial('../_scripts')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
