doctype html
html(lang='en')
  head
    title Checkboxes
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style.
      md-checkbox#suit .md-icon {
        margin-top: -16px;
      }

      .explanation {
        margin-top: 4px;
      }

      .explanation-text {
        font-size: 0.9em;
        color: #757575; /* Grey 600 */
      }

      .explanation-icon {
        margin-right: 8px;
        color: #2196F3; /* Blue 500 */
      }
  body(ng-app='myApp',layout='column')
    // Single column
    md-toolbar.md-toolbar-tools
      h1 Dive gear checklist
    md-content
      div(layout='column',layout-margin,ng-init='gear={}')
        md-checkbox(ng-model='gear.fins') Fins
        md-checkbox#suit(ng-model='gear.suit')
          | Neoprene suit
          .explanation
             md-icon.material-icons.explanation-icon comment
             span.explanation-text Do not forget to check all pieces and your size!
        md-checkbox(ng-model='gear.bcd') BCD jacket
      md-divider
      div(layout-margin)
        code {{gear|json}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
