extends ../layout

block content
  md-toolbar(layout='row',ng-class='lc.screenSize')
    h1 {{lc.title}}
  md-content#content(ng-class='lc.screenSize')
    h2 {{lc.sectionTitle}}
    | {{lc.sectionBody}}
