extends ../layout

block vars
  - var body_attrs = {'ng-app':'myApp','layout':'column','ng-controller':'LayoutController as lc'}
  - var script = 'script.js'
  - var style = '04.css'

block content
  md-toolbar(layout='row',ng-class='lc.screenSize')
    h1 {{lc.title}}
  md-content#content(ng-class='lc.screenSize')
    h2 {{lc.sectionTitle}}
    | {{lc.sectionBody}}

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial','layout']
