extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 My favorite dives
  md-content
    md-list
      md-list-item.md-3-line(ng-repeat='dive in dives')
        img.md-avatar(
          ng-if='dive.avatar'
          ng-src='../images/{{dive.avatar}}'
          alt='{{dive.site}}'
        )
        .md-list-item-text(ng-class="{'md-offset': !dive.avatar}")
          h3 {{dive.site}}
          h4 {{dive.location}}
          p {{dive.depth}} feet | {{dive.time}} min
        md-divider
