extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 Chips with item templates
  md-content
    div(flex,layout='column')
      md-chips(ng-model='fishList')
        md-chip-template {{$chip.name}} (<em>{{$chip.size}}</em>)
      div: code {{fishList | json}}
    md-divider
