@import '../../material-color.styl'

.flex-10, .flex-25
    border: 1px dotted gray
    padding: 8px
    background-color: clr-orange-100
    text-align: center

.layout-row, .layout-column
    background-color: clr-blue-200
