doctype html
html(lang='en')
  head
    title Simple Layout
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
    style.
      md-toolbar h1 {
        margin: auto;
        font-weight: 400;
      }

      md-toolbar.small h1 {
        font-size: 1.25em;
        margin: auto 0;
        padding-left: 16px;
      }

      #content {
        padding: 8px 40px;
      }

      #content.small {
        padding: 8px 16px;
      }
  body(
    ng-app='myApp'
    layout='column'
    ng-controller='LayoutController as lc'
  )
    md-toolbar(layout='row',ng-class='lc.screenSize')
      h1 {{lc.title}}
    md-content#content(ng-class='lc.screenSize')
      h2 {{lc.sectionTitle}}
      | {{lc.sectionBody}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular
        .module 'layout', []
        .controller 'LayoutController', [
          '$mdMedia'
          '$scope'
          ($mdMedia, $scope) ->
            self = @
            self.title = "Simple Layout"
            self.sectionTitle = "Section #1"
            self.sectionBody = "This is a simple section."
            $scope.$watch(
              -> if $mdMedia('sm') then 'small' else 'large'
              (size) -> self.screenSize = size
            )
            true
        ]
        angular.module 'myApp', ['ngMaterial','layout']
