doctype html
html(lang='en')
  head
    title Simple Layout
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
    style.
      div.flex {
        border: 1px dotted gray;
        padding: 8px;
      }
      div.layout-row {
        background-color: #90CAF9;  /* Blue 200 */
        text-align: left;
      }
      div.layout-column div.layout-row,
      div.layout-column div.layout-row {
        background-color: #BBDEFB;  /* Blue 100 */
        text-align: center;
      }
      div.layout-column {
        background-color: #FFE0B2;  /* Orange 100 */
        text-align: center;
      }
      div.layout-row div.layout-column {
        background-color: #FFF3E0;  /* Orange 50 */
      }
  body(ng-app='myApp')
    div(layout='row')
      div(flex) Cell #1
      div(flex) Cell #2
      div(flex,layout='row')
        div(flex) Cell #3A
        div(flex) Cell #3B
    div(layout='row')
      div(flex,layout='column')
        div(flex) Cell #4A
        div(flex) Cell #4B
        div(flex) Cell #4C
      div(flex) Cell #5
    div(layout='column')
      div(flex,layout='row')
        div(flex) Cell #6A
        div(flex) Cell #6B
        div(flex) Cell #6C
      div(flex) Cell #7
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
