doctype html
html(lang='en')
  head
    title Simple Layout
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
    style.
      div.flex {
        border: 1px dotted gray;
        padding: 8px;
      }
      div.layout-row {
        background-color: #90caf9;
      }
      div.layout-column {
        background-color: #ffe0b2;
        text-align: center;
      }
  body(ng-app='myApp')
    div(layout='row',layout-align='center center',style='height: 100px;')
      div(flex=10) Cell #1
      div(flex=20) Cell #1
      div(flex=30) Cell #1
    div(layout='row',style='height:100px;margin-top:24px;')
      div(flex=10) Cell #4
      div(flex=10) Cell #5
      div(flex=10) Cell #6
    div(layout='column',layout-align='space-around end',style='height:400px;margin-top:24px;')
      div(flex=25) Cell #7
      div(flex=25) Cell #8
      div(flex=25) Cell #9
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
