doctype html
html(lang='en')
  != partial('../_header')
  body(
    ng-app='myApp'
    layout='column'
    ng-controller='LayoutController as lc'
  )
    md-toolbar
      h1 {{lc.title}}
    md-content
      h2 {{lc.sectionTitle}}
      | {{lc.sectionBody}}
    != partial('../_scripts')
    script(src='script.js')
    script
      :coffee-script
        angular.module 'myApp', ['ngMaterial', 'layout']
