extends ../layout

block content
  md-toolbar.md-tall(md-scroll-shrink,md-shrink-speed-factor=0.2)
    .md-toolbar-tools.md-toolbar-tools-bottom Night Dive Rules
  md-content(flex,layout-margin,layout-padding)
    div(style='height:2000px')
      h1.md-display-2 Rule #1
      h1.md-display-2 Rule #2
      p ...
      h1.md-display-2 Rule #123
  md-toolbar.md-medium-tall.md-accent
    .md-toolbar-tools Powered by Angular Material
