doctype html
html(lang='en')
  != partial('../_header')
  body(ng-app='myApp',layout='column')
    md-toolbar: h1 Header row
    md-content(flex): h2 Content section
    md-toolbar: h1 Footer row
    != partial('../_scripts')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
