extends ../layout

block vars
  - var body_attrs = {'ng-app':'myApp','layout':'column'}

block content
  md-toolbar: h1 Header row
  md-content(flex): h2 Content section
  md-toolbar: h1 Footer row

append scripts
  script(type='text/javascript')
    :coffee-script
      angular.module 'myApp', ['ngMaterial']
