extends ../layout

block content
  md-toolbar
    .md-toolbar-tools My favorite dive sites
  md-content(flex,ng-controller='DiveSitesController')
    md-tabs(md-border-bottom)
      md-tab(ng-repeat='site in diveSites',label='{{site.toString()}}')
        md-content.md-padding
          h1.md-display-1 {{site.toString()}}
          p.md-body-1(ng-repeat="item in getSiteInfo($index + 1)")
            | {{item.toString()}}
  md-toolbar.md-accent
    .md-toolbar-tools Younderwater, 2015
