extends ../layout

block content
  div(flex,layout='column')
    md-toolbar.md-toolbar-tools
      h1 Whiteframes and dividers
    md-content(flex,style={'background-color':'#e0e0e0'})
      div(style={'background-color': 'white'}, layout-margin)
        .md-whiteframe-z2(layout-padding)
          h1.md-display-1 md-whiteframe-z2
        section
          .md-body-1(layout-padding) Topic #1
          md-divider
          .md-body-1(layout-padding) Topic #2
      div(style={'background-color': 'white'},layout-margin)
        div(layout='row')
          .md-whiteframe-z2(flex=50,layout-padding)
            h1.md-display-1 md-whiteframe-z2
          .md-whiteframe-z5(flex=50,layout-padding)
            h1.md-display-1 md-whiteframe-z5
        section
          .md-body-1(layout-padding) Topic #3
          md-divider
          .md-body-1(layout-padding) Topic #4
