@import '../../material-color.styl'

.md-autocomplete-suggestions
  li
    border-bottom: 1px solid #ccc
    height: auto
    padding-top: 8px
    padding-bottom: 8px
    white-space: normal

  .list-title
    display: block
    line-height: 1.5
    font-size: 1.2em

  .list-item
    display: block
    line-height: 1.5

.md-drop-down
  background-color: clr-blue-100
