doctype html
html(lang='en')
  head
    title Chips with template
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
  body(ng-app='myApp',layout='column',ng-controller='ChipsController')
    md-toolbar.md-toolbar-tools
      h1 Chips with item templates
    md-content(layout-padding,layout-align='center center')
      div(flex,layout='column')
        md-chips(ng-model='fishList',md-on-append='newChip($chip)')
          md-chip-template {{$chip.name}} (<em>{{$chip.size}}</em>)
        div: code {{fishList | json}}
      md-divider
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'chips', []
        .controller 'ChipsController', [
          '$scope'
          ($scope) ->
            $scope.fishList = [
              {name: "Triggerfish", size: "big"}
              {name: "Stingray",    size: "medium"}
              {name: "Potato cod",  size: "tiny"}
            ]
            $scope.newChip = (chip) ->
              name: chip
              size: '???'
        ]
        angular.module 'myApp', ['ngMaterial', 'chips']
