doctype html
html(lang='en')
  head
    title Header with Buttons
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    style.
      md-content {
        background-color: #EEEEEE;  /* Grey 200 */
      }

      md-card-content {
        background-color: white;
      }

      md-card-footer {
        background-color: #BDBDBD;  /* Grey 400 */
      }
  body(ng-app='myApp',layout='column',ng-controller='CardController')
    md-toolbar
      .md-toolbar-tools
        h2 Card
    md-content(flex)
      div(layout='row',layout-wrap)
        div(flex=33,ng-repeat='card in diveCards')
          md-card
            img.md-card-image(
              alt="{{card.title}}"
              ng-src="images/{{card.src}}"
            )
            md-card-content
              h2 {{card.title}}
              h3 {{card.site}}
            md-card-footer {{card.taken}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular
        .module 'card', []
        .controller 'CardController', [
          '$scope'
          ($scope) ->
            $scope.diveCards = [{
              title: "Crocodile fish"
              src: '1.jpg'
              taken: '06/18/2008'
              site: "Abu gotta Ramada"
            },{
              title: "Blue-spotted stingray"
              src: '2.jpg'
              taken: '06/19/2008'
              site: "Turtle Bay"
            },{
              title: "Coral pods over the reef"
              src: '5.jpg'
              taken: '06/23/2008'
              site: "Far Garden"
            },{
              title: "Nudibranch"
              src: '8.jpg'
              taken: '06/24/2008'
              site: "El Arouk"
            }]
        ]
        angular.module 'myApp', ['ngMaterial', 'card']
