doctype html
html(lang='en')
  head
    title Tooltip
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style.
      .highlight {
        color: #FFF176;  /* Yellow 300 */
      }
  body(ng-app='myApp',layout='column')
    md-toolbar.md-toolbar-tools
      h1 Tooltip
    md-content(flex)
      div(layout='row',style='margin-top: 12px;')
        md-switch(aria-label="Save mode")
          | Battery save mode
          md-tooltip(md-direction='bottom',md-delay=2000)
            | Use&#32;
            span.highlight battery save
            | &#32;mode
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular.module 'myApp', ['ngMaterial']
