@import '../../material-color.styl'

.svg-icons
    .size-18
        height: 18px;
        width: 18px;

    .size-24
        height: 24px;
        width: 24px;

    .size-36
        height: 36px;
        width: 36px;

    .size-48
        height: 48px;
        width: 48px;

    .red
        color: clr-red

    .green
        color: clr-green

    .blue
        color: clr-blue
